.navbar{   
    width: 100%;
    height: 100px;
    background-color: #014e56;
}

    .navbar-logo{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        position: absolute;
        color: white;
        margin-left: 100px;
        
    }


    .navbar-a1{
        position: absolute;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: white;
        margin-left: 300px;
        margin-top: 35px;
        transition: all 0.3s linear;
    }

    .navbar-a2{
        position: absolute;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 380px;
    margin-top: 35px;
    transition: all 0.3s linear;
    }

    .navbar-btn{
    background-color: #014e56;
    color: white;
    border-color: white;
    border-radius: 30px;
width: 153px;
height: 38px;
left: 1122px;
top: 73px;
margin-left: 800px;
margin-top: 25px;
transition: all 0.4s linear;
    }

    .navbar-a3{
          position: absolute;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 480px;
    margin-top: 35px;
    transition: all 0.3s linear;
           }
    


.navbar-a1:hover{
     color: #c97576;
}

.navbar-a2:hover{
     color: #c97576;
}

.navbar-btn:hover{
    background-color: white;
    color:#014e56;
}

.contactdiv{
  width: 100%;;
  height: 600px;
  background-color: #014e56;
  font-size: 64px;
  color: white;
  font-family: 'Livvic';
}

.contacth2{
  color: white;
  margin-left: 100px;
}

.contactp1{
  font-size: 40px;
  margin-left: 100px;
  margin-top: 20px;
  color: #f67e7e;

}

.imgman{
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
}

.imgsetting{
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}

.imgfinance{
  position: absolute;
  margin-left: 100px;
  margin-top: 180px;
}

.word1{
  position: absolute;
  font-family: 'Livvic';
  color: white;
  font-size: 20px;
  margin-left: 200px;
  margin-top: 50px;
}

.word2{
  position: absolute;
  font-family: 'Livvic';
  color: white;
  margin-left: 200px;
  margin-top: 130px;
  font-size: 20px;
}

.word3{
  position: absolute;
  font-family: 'Livvic';
  font-size: 20px;
  color: white;
  margin-left: 200px;
  margin-top: 210px;
}


.h3-100{
  color: gray;
  font-family: 'Livvic';
  font-size: 18px;
  margin-left: 650px;
}

.hr-100{
  width: 380px;
  margin-left: 650px;
  color: white;
}

.h3-101{
  margin-top: 30px;
  color: gray;
  margin-left: 650px;
  font-family: 'Livvic';
  font-size: 18px;

}

.hr-101{
  width: 380px;
  margin-left: 650px;
  color: white;
}

.h3-102{
  margin-top: 30px;
  color: gray;
  margin-left: 650px;
  font-family: 'Livvic';
  font-size: 18px;

}

.hr-102{
  width: 380px;
  margin-left: 650px;
  color: white;
}

.h3-103{
  margin-top: 30px;
  color: gray;
  margin-left: 650px;
  font-family: 'Livvic';
  font-size: 18px;

}

.hr-103{
  width: 380px;
  margin-left: 650px;
  color: white;
}

.h3-104{
  margin-top: 30px;
  color: gray;
  margin-left: 650px;
  font-family: 'Livvic';
  font-size: 18px;

}

.hr-104{
  margin-top: 50px;
  width: 380px;
  margin-left: 650px;
  color: white;
}

.btn-sus{
background-color: white;
color:#004047;
width: 123px;
height: 48px;
left: 735px;
top: 613px;
font-size: 20px;
font-family: 'Livvic';
border-radius: 30px;
border: none;
margin-left: 650px;
transition: all 0.4s linear;
}

.btn-sus:hover{
  background-color: #004047;
  color: white;
}


.input-name{
  width: 380px;
  height: 50px;
  font-size: 20px;
  margin-left: 650px;
  background-color:#014E56;
  border: none;
  border-color: #014E56;
  color: #808080;
}

.input-email{
  width: 380px;
  height: 50px;
  font-size: 20px;
  margin-left: 650px;
  background-color: #014E56;
  border: none;
  border-color: #014E56;
  color: #808080;
}

.input-company{
  width: 380px;
  height: 50px;
  font-size: 20px;
  margin-left: 650px;
  background-color: #014E56;
  color: #808080;
  border: none;
}

.input-title{
  width: 380px;
  height: 50px;
  font-size: 20px;
  margin-left: 650px;
  background-color: #014E56;
  color: #808080;
  border: none;
}

.input-mesage{
  width: 380px;
  height: 50px;
  font-size: 20px;
  margin-left: 650px;
  background-color: #014E56;
  color: #808080;
  border: none;
}

.submitwiki{
  text-decoration: none;
  color: #014E56;
  transition: all 0.3s linear;
}

.submitwiki:hover{
  color: white;

}





