.build{
    position: absolute;
    width: 100%;
    background-color: #012f34;
    

    &-hr1{
        position: absolute;
        width: 60px;
        height: 3px;
    background-color: #f67e7e;
    border: none;
    margin-top: 90px;
    margin-left: 100px;
    }

    &-h2-2{

        font-family: 'Livvic';
        white-space-collapse: break-spaces;
        color: white;
        margin-top: 120px;
        margin-left: 100px;
        font-size: 30px;
    }

    &-man{
        position: absolute;
        margin-left: 500px;
        margin-top: -150px;
    }

    &-setting{
        position: absolute;
        margin-left: 500px;
        margin-top: -50px;
    }

    &-finance{
        position: absolute;
        margin-left: 500px;
        margin-top: 50px;
    }

    &-h2-3{
        font-family: 'Livvic';
        color: #F67E7E;
        margin-left: 600px;
        margin-top: -150px;
    }

    &-p2{
        color: white;
        white-space-collapse: break-spaces;
        margin-left: 600px;
        margin-top: 10px;
    }

    &-h2-4{
        color: #F67E7E;
        margin-left: 600px;
        margin-top: 10px;
    }

    &-h2-5{
        white-space-collapse: break-spaces;
        color: white;
        margin-left: 600px;
        margin-top: 10px;
    }

    &-h2-6{
        white-space-collapse: break-spaces;
        color: #F67E7E;
        margin-left: 600px;
        margin-top: 20px;
    }

    &-p3{
        white-space-collapse: break-spaces;
        color: white;
        margin-left: 600px;
        margin-top: 10px;
    }

    &-img4{
        margin-left: 936px;
        margin-top: -200px;
    }
}