.delivery{
 
width: 100%x;
height: 505px;
background-color: #004047;
margin-top: 329px;

    &-h2-7{
        position: absolute;
        margin-top: 130px;
        margin-left: 300px;
        font-family: 'Livvic';
        white-space-collapse: break-spaces;
    color: white;
    }

    &-p4{
        font-family: 'Livvic';
        position: absolute;
        color: white;
        white-space-collapse: break-spaces;
        margin-left: 100px;
        margin-top: 200px;
    }

    &-p5{
        font-family: 'Livvic';
        position: absolute;
        color: white;
        white-space-collapse: break-spaces;
        margin-top: 200px;
        margin-left: 400px;
    }

    &-p6{
        position: absolute;
        font-family: 'Livvic';
        white-space-collapse: break-spaces;
        color: white;
        margin-top: 200px;
        margin-left: 700px;
    }

    &-woman{
        position: absolute;
        font-family: 'Livvic';
        margin-left: 150px;
        margin-top: 330px;
        color: #79c8c7;
    }

&-retrowoman{
    font-family: 'Livvic';
    position: absolute;
    margin-left: 450px;
    margin-top: 330px;
    color: #79c8c7;
}

&-oldman{
    font-family: 'Livvic';
    position: absolute;
    color: #79c8c7;
    margin-top: 330px;
    margin-left: 750px;
}

&-imgwoman{
    width: 62px;
    height: 62px;
    position: absolute;
    margin-top: 370px;
    margin-left: 170px;
}

&-oldwoman{
    position: absolute;
    margin-top: 370px;
    margin-left: 480px;
}

&-amaki{
    position: absolute;
    margin-top: 370px;
    margin-left: 780px;
}

&-img100{
    position: absolute;
    margin-left: 836px;
    margin-top: 400px;
}


}

.span5{
    margin-top: 50px;
    color: #79c8c7;
}

