.footer{
    width: 100%;
    height: 196px;
    background-color: #002529;

    &-h2-8{
        position: absolute;
        margin-top: 50px;
        margin-left: 150px;
        color: white;
        font-family: 'Livvic';
        font-size: 40px;
    }

    &-a1{
        position: absolute;
        font-family: 'Livvic';
        text-decoration: none;
        margin-left: 150px;
margin-top: 120px;
        color: white;
        transition: all 0.3s linear;
    }

    &-a2{
        position: absolute;
        font-family: 'Livvic';
        text-decoration: none;
        margin-left: 240px;
        margin-top: 120px;
        color: white;
        transition: all 0.3s linear;
    }

    &-p10{
        position: absolute;
        font-family: 'Livvic';
        white-space-collapse: break-spaces;
        color: gray;
        margin-left: 400px;
        margin-top: 50px;
    }
}

.normwords{
    font-family: 'Livvic';
    position: absolute;
    color: gray;
margin-top: 120px;
margin-left: 700px;
}

.icons{
    position: absolute;
    margin-top: 70px;
    margin-left: 850px;
}

.footer-a1:hover{
     color: #c97576;
}

.footer-a2:hover{
     color: #c97576;
}