.aboutintro{
    width: 100%;
    height: 317px;
    background-color: #014E56;

    &-h2-10{
        position: absolute;
        margin-left: 100px;
        margin-top: 100px;
        font-family: 'Livvic';
        font-size: 50px;
        color: white;
    }

    &-p11{
        position: absolute;
        font-family: 'Livvic';
        white-space-collapse: break-spaces;
        color: white;
        margin-left: 350px;
        margin-top: 130px;
    }


}
