.client{
  width: 100%;
  height: 300px;
  background-color: #002529;
  margin-top: 800px;
}

.h2-16{
  font-family: 'Livvic';
  font-size: 35px;
  margin-left: 400px;
  margin-top: -150px;
  color: white;
}

.icon{
  width: 800px;
  margin-top: 100px;
  margin-left: 120px;
}

.navbar-a3{
  color: white;
  position: absolute;
  text-decoration: none;
  font-family: 'Livvic';
  margin-top: 35px;
  margin-left: 450px;
}

