.meets {
  position: absolute;
  width: 100%;
  height: 802px;
  background-color: #004047;

}

.h2-15{
position: absolute;
font-family: 'Livvic';
color: white;
font-size: 30px;
margin-left: 420px;
margin-top: 100px;
}

.div1{
  width: 250px;
  height: 233px;
  background-color: #012f34;
}

.div2{
  width: 250px;
  height: 233px;
  background-color: #012f34;
}

.div3{
  width: 250px;
  height: 233px;
  background-color: #012f34;
}

.card{
  margin-left: 80px;
  position: absolute;
  margin-top: 200px;
  display: flex;
justify-content: space-evenly;
gap: 66px;
}

.card1{
position: absolute;
display: flex;
justify-content: space-evenly;
gap: 66px;
margin-left: 80px;
margin-top: 500px;
}



.div4{
  width: 250px;
  height: 233px;
  background-color: #012f34;
}

.div5{
  width: 250px;
  height: 233px;
  background-color: #012f34;
}

.div6{
  width: 250px;
  height: 233px;
  background-color: #012f34;
}

.nadoela{
  margin-top: 30px;
  margin-left: 70px;
}

.h4-1{
  font-family: 'Livvic';
  color: #79c8c7;
  margin-left: 70px;
  margin-top: 15px;
}

.p10{
  font-family: 'Livvic';
  color: white;
  margin-left: 60px;
  margin-top: 15px;
}

.plusoval{
  margin-left: 85px;
  margin-top: 10px;
}

.h4-2{
  position: absolute;
  margin-top: 20px;
  margin-left: 80px;
  color:  #79c8c7;
  font-family: 'Livvic';
}

.p16{
  color: white;
  font-family: 'Livvic';
  white-space-collapse: break-spaces;
  margin-top: 55px;
  margin-left: 10px;
}

.plusoval1{
  position: absolute;
  margin-left: 90px;
  margin-top: 95px;
}

.group16{
  margin-left: 85px;
  margin-top: 40px;
}

